@{
    ViewData["Title"] = "Popid";
}
@{
    var results = ViewBag.contents;
}


<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<br><br><br>
<p>@ViewData["andmed"]</p>


<table class="table table-striped">
	  <tr>
	    <th>Firstname</th>
	    <th>Lastname</th> 
	  </tr>
	@foreach(var item in results)
	{
	  <tr>
	    <td>@item.FirstName</td>
	    <td>@item.LastName</td> 
	  </tr>
	}
</table>


<address>
    <strong>Support:</strong> <a href="mailto:Support@example.com">Support@example.com</a><br />
</address>
